table {
  width: 100%;
  text-align: left;
  /* border-collapse: collapse; */
  border-collapse: separate; /* Allows corner radius */
  border-spacing: 0; /* Optional: Ensures no space between cells */
  border-radius: 8px; /* Adjust value for desired roundness */
  overflow: hidden; /* Ensures content stays within the rounded edges */
}
thead {
  background-color: #2f81ed2c;
  border-radius: 1rem;
}
th {
  margin: 0px;
  border: none;
  padding: 1rem 0rem;
}
